*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 14px;
}

/*     font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Slab', serif; */

.container, ul{
    margin: 0;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-column-text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center{
    display:flex;
    justify-content: center;
}

/* debugging classes */
.debug header nav {
    border: 1px solid coral;
}
.debug footer {
    border: 1px solid coral;
}
.debug #products {
    border: 1px solid coral;
}
.debug #celebration {
    border: 1px solid coral;
}

/* style classes */
.uppercase-grey {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #878589;
}

.hero-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 3rem;
    color: #5b2ca2;
}

.all-text-grey {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #878589;
}

.all-text-purple {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #5b2ca2;
}

.carousel-text-purple{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 1rem;
    color: #5b2ca2;
}

.section-title-purple{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 2rem;
    color: #5b2ca2;
}

.section-title-white{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 2rem;
    color: white;
}
/* project */

#hero{
    height: 662px;
    width: 100%;
    background-image: url('../img/hero-header-bakery.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0% ;
}

header nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header nav img {
    height: 97px;
}

nav .navbar-menu {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

header nav .navbar-menu li a {
    text-decoration: none;
    /* text-transform: uppercase; */ 
    margin: 0 10px;
}

#hero .square-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hero .info {
    padding-left: 100px;
}

main {
    width: 100%;
}

#products {
    width: 1300px;
    height: 612px;
    margin: auto;
}

#products > .container{
    padding: 50px 0;
}

#products .carousel {
    position: relative;
}

#products .carousel img{
    height: 100%;
    margin-left: 20px;
}

#products [class*="chev"]{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width:25px;
    background-color: #bda2f3;
    color: white;
    position: absolute;
}

#products .chevron-right{
    top: 50%;
    right: -1%;
    transform: translate(-50%, -50%);
}

#products .chevron-left{
    top: 50%;
    right: 73%;
    transform: translate(-58%, -50%);
}

#celebration {
    width: 1300px;
    height: 650px;
    margin: auto;
}

#celebration .corporate {
    height: 600px;
    background-image: url('../img/corporate-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 25px;
    position:relative;
}

#celebration .corporate-explore{
    width:100%;
    height: 600px;
    background-image: url('../img/corporate-hover-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 25px;
    opacity:0;
    position: absolute;
    top:0;
    left:0;
}

#celebration .corporate:hover .corporate-explore{
    opacity: 1;
}

#celebration .wedding {
    height: 600px;
    background-image: url('../img/wedding-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 25px;
    position: relative;
}

#celebration .wedding-explore{
    width:100%;
    height: 600px;
    background-image: url('../img/wedding-hover-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 25px;
    opacity:0;
    position: absolute;
    top:0;
    left:0;
}

#celebration .wedding:hover .wedding-explore{
    opacity: 1;
}

#all-products {
    width: 1300px;
    margin:auto;
}

#all-products .card{
    text-align: center;
}

#all-products .card:nth-child(2){
    margin-left: 10px;
    margin-right: 5px;
}

#all-products .card:nth-child(3){
    margin-left: 5px;
    margin-right: 10px;
}
footer {
    width: 100%;
    height: 331px;
}

footer nav {
    height: 70%;
    width: 100%;
}

footer nav .navbar-menu li a {
    text-decoration: none;
    /* text-transform: uppercase; */ 
    margin: 0 10px;
}

footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#copyright {
    height: 30%;
    width: 100%;
}

