<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Avada Bakery - Homepage</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/12-bool.css">
		<script src="libs/vue.js" charset="utf-8"></script>
	</head>
	<body class="">
		<header id="root_1">
			<div id="hero">
				<nav>
					<img src="img/avada-bakery-logo-retina-200x97.png" alt="bakery logo">
					<ul class="navbar-menu">
						<li class="flex-column-between uppercase-menu" v-for="option in headerNavbar">
							<template v-if="option!=='Cart'"><a href="">{{option}}</a></template>
							<template v-else><a href=""><i class="fas fa-shopping-cart"></i></a></template>
							<div class="underbar"></div>
						</li>
					</ul>
				</nav>
				<div class="container">
					<div class="square-buttons col">
						<button class="demosButton flex-column-center">
							<i class="fas fa-2x fa-desktop"></i>
							<p>	Demos</p>
						</button>
						<button class="onSaleButton flex-column-center">
							<div class="cash flex-end">
								<p><span>$</span>39</p>
							</div>
							<p>On Sale</p>
						</button>
					</div>
					<div class="col-4 info">
						<p class="uppercase-grey">Fresh & tasty bakery every day</p>
						<p class="hero-title">The Perfect Fresh Bread</p>
						<p class="all-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, obcaecati consequuntur? </p>
						<button class="whiteOnPurple"><p>Explore our products</p></button>
					</div>	
				</div>
			</div>
		</header>
		<main>
			<section id="products">
				<div class="container ">
					<div class="col-4">
						<p class="uppercase-grey">Our Products</p>
						<p class="section-title-purple">All our delectable patries are backed fresh in our Kitchen very morning, and are made with all-natural, all organic ingredients.</p>
						<button class="purpleOnWhite"><p>Start Shopping</p></button>
					</div>
					<div class="col-8">
						<div class="container carousel flex-end">
							<div class="choco flex-center">
								<img src="img/choco-chip-cookies/choco-chip-cookies-400x510.jpg" alt="choco chip cookies">
								<div class="choco-explore flex-column-center">
									<p class="carousel-title-white">Choco Chip Cookies</p>
									<p class="tiny-text-white">Cookies, Pastries</p>
									<p class="carousel-text-white">$19.00 - $39.00</p>
								</div>
								<div class="shadow"></div>
							</div>
							<div class="strawberry flex-center">
								<img src="img/strawberry-jam-cookies/strawberry-jam-cookies-400x510.jpg" alt="choco chip cookies">
								<div class="strawberry-explore flex-column-center">
									<p class="carousel-title-white">Strawberry Jam Cookies</p>
									<p class="tiny-text-white">Cookies, Pastries</p>
									<p class="carousel-text-white">$24.00 - $62.00</p>
								</div>
								<div class="shadow"></div>
							</div>
							<div class="chevron-left"><i class="fas fa-chevron-left"></i></div>
							<div class="chevron-right"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>
				</div>
			</section>
			<section id="celebration">
				<div class="container">
					<div class="row">
						<div class="col flex-column-center">
							<p class="uppercase-grey">Corporate & Weddings</p>
							<p class="section-title-purple">Baking Special Moments</p>
						</div>
					</div>
					<div class="row flex-center">
						<div class="col-6 corporate">
							<div class="corporate-explore flex-column-center">
								<p class="uppercase-grey">International Bakery</p>
								<p class="section-title-white">Corporate Events</p>
								<button class="purpleOnWhite"><p>Explore more</p></button>
							</div>	
							<div class="square-buttons col">
								<button class="demosButton flex-column-center">
									<i class="fas fa-2x fa-desktop"></i>
									<p> Demos</p>
								</button>
								<button class="onSaleButton flex-column-center">
									<div class="cash flex-end">
										<p><span>$</span>39</p>
									</div>
									<p>On Sale</p>
								</button>
							</div>
						</div>
						<div class="col-6 wedding">
							<div class="wedding-explore flex-column-center">
								<p class="uppercase-grey">Private Dining Hall</p>
								<p class="section-title-white">Wedding & Parties</p>
								<button class="purpleOnWhite"><p>Explore more</p></button>
							</div>
							<div class="square-buttons col">
								<button class="demosButton flex-column-center">
									<i class="fas fa-2x fa-desktop"></i>
									<p> Demos</p>
								</button>
								<button class="onSaleButton flex-column-center">
									<div class="cash flex-end">
										<p><span>$</span>39</p>
									</div>
									<p>On Sale</p>
								</button>
							</div>
						</div>	
					</div>
				</div>
			</section>
			<section id="all-products">
				<div class="container flex-align-center">
					<div class="col-4 text-center">
						<p class="section-title-purple">Find a freshly baked product perfect for you</p>
						<p class="all-text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, minima cum, distinctio quidem praesentium</p>
						<button class="purpleOnWhite"><p>Shop All Products</p></button>
					</div>
					<div class="col-8 carousel flex-end">
						<div class="card">
							<div class="card-explore">
								<img src="img/choco-chip-cookies/choco-chip-cookies-200x255.jpg" alt="choco-chip-cookies">
								<div class="text flex-column-center">
									<p class="uppercase-white">Select options / quick view</p>
								</div>
								<div class="shadow"></div>
							</div>
							<p class="carousel-text-purple">Choco Chip Cookies</p>
							<p class="all-text-purple">$19.00 - $39.00</p>
						</div>
						<div class="card">
							<div class="card-explore">
								<img src="img/strawberry-jam-cookies/strawberry-jam-cookies-200x255.jpg" alt="strawberry-jam-cookies">
								<div class="text flex-column-center">
									<p class="uppercase-white">Select options / quick view</p>
								</div>
								<div class="shadow"></div>
							</div>
							<p class="carousel-text-purple">Strawberry Jam Cookies</p>
							<p class="all-text-purple">$24.00 - $62.00</p>
						</div>
						<div class="card">
							<div class="card-explore">
								<img src="img/strawberry-donut/strawberry-donut-200x255.jpg" alt="strawberry-donut">
								<div class="text flex-column-center">
									<p class="uppercase-white">Select options / quick view</p>
								</div>
								<div class="shadow"></div>
							</div>
							<p class="carousel-text-purple">Strawberry Donut</p>
							<p class="all-text-purple">$24.00 - $42.00</p>
						</div>
						<div class="card">
							<div class="card-explore">
								<img src="img/perfect-macaron/perfect-macarons-200x255.jpg" alt="">
								<div class="text flex-column-center">
									<p class="uppercase-white">Select options / quick view</p>
								</div>
								<div class="shadow"></div>
							</div>
							<p class="carousel-text-purple">Perfect Macarons</p>
							<p class="all-text-purple">$18.00 - $52.00</p>
						</div>
						<div class="chevron-left"><i class="fas fa-chevron-left"></i></div>
						<div class="chevron-right"><i class="fas fa-chevron-right"></i></div>
					</div>
				</div>
			</section>
			<section id="process">
				<div class="container">
					<div class="col process-01">
						<div class="text container">
							<div class="col-6">
								<p class="section-title-white">Tell us what you have in mind</p>
							</div>
							<div class="col-6 flex-end">
								<p class="numbers-white">01</p>
							</div>
							<div class="container flex-right-corner">
								<div class="col-5">
									<p class="uppercase-grey">Manual Ingredients Selection</p>
									<p class="all-text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt maxime tempora sed nam accusamus possimus dolore excepturi, reiciendis enim atque nemo animi eius.</p>
								</div>
							</div>
						</div>
						<div class="gradient"></div>	
					</div>
					<div class="container flex-align-center">
						<div class="col-6">
							<div class="col process-02">
								<div class="text container">
									<div class="col-6">
										<p class="section-title-white">We Start Baking</p>
									</div>
									<div class="col-6 flex-end">
										<p class="numbers-white">02</p>
									</div>
									<div class="container flex-left-corner">
										<div class="col-7">
											<p class="uppercase-grey">Sweet & Delicious</p>
											<p class="all-text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt maxime tempora
												sed nam accusamus possimus dolore excepturi, reiciendis enim atque nemo animi eius.</p>
										</div>
									</div>
								</div>
								<div class="gradient"></div>
							</div>
						</div>	 		
						<div class="quote flex-column">
							<p class="uppercase-grey">Dont just take our word for it</p>
							<p class="quote-title">"Finally found an alternative to the mass produced products. Something that incorporates rel organic ingredients, nutrient dense wellness while promoting sustainability and activity"</p>
							<p class="all-text-grey">Rachel Cooper, Founder</p>
						</div>	 		
					</div>					
					</div>
					<div class="col process-03">
						<div class="text container">
							<div class="col-6">
								<p class="section-title-white">Delivered to your home</p>
							</div>
							<div class="col-6 flex-end">
								<p class="numbers-white">03</p>
							</div>
							<div class="container flex-left-corner">
								<div class="col-5">
									<p class="uppercase-grey">Baked to order & gift wrapped</p>
									<p class="all-text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt maxime tempora sed nam accusamus possimus dolore excepturi, reiciendis enim atque nemo animi eius.</p>
								</div>
							</div>
						</div>
						<div class="gradient"></div>	
					</div>
				</div>
			</section>
			<section id="locations">
				<div class="container">
					<div class="col flex-column-center">
						<p class="uppercase-grey">locations</p>
						<p class="section-title-purple">Visit our Bakeries</p>
					</div>
					<div class="row">
						<div class="col-6 newyork">
							<img src="img/new-york-bk-600x397.jpg" alt="">
							<div class="info flex-column-center">
								<p class="section-title-purple">New York</p>
								<div class="flex-between">
									<div class="flex-column-center">
										<p class="uppercase-grey">Call us</p>
										<p class="all-text-grey">1.800.458.556</p>
									</div>
									<div class="flex-column-center">
										<p class="uppercase-grey">open all week</p>
										<p class="all-text-grey">9:00 AM - 6:00 PM</p>
									</div>
									<button class="whiteOnPurple"><p>View Map</p></button>
								</div>
							</div>
						</div>
						<div class="col-6 london">
							<img src="img/london-bk-600x397.jpg" alt="">
							<div class="info flex-column-center">
								<p class="section-title-purple">London</p>
								<div class="flex-between">
									<div class="flex-column-center">
										<p class="uppercase-grey">Call us</p>
										<p class="all-text-grey">1.800.458.556</p>
									</div>
									<div class="flex-column-center">
										<p class="uppercase-grey">open all week</p>
										<p class="all-text-grey">9:00 AM - 6:00 PM</p>
									</div>
									<button class="whiteOnPurple"><p>View Map</p></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="social">
				<div class="container">
					<div class="col top flex-align-center">
						<img src="img/social-1.jpg" alt="">
						<div class="text flex-column-center">
							<p class="uppercase-grey">made for sharing</p>
							<p class="section-title-purple">Let's stay in touch</p>
							<button class="purpleOnWhite"><p><i class="fab fa-instagram"></i>Follow Us</p></button>
						</div>
						<img src="img/social-2.jpg" alt="">
					</div>
					<div class="gallery col">
						<img src="img/social-3.jpg" alt="">
						<img src="img/social-4.jpg" alt="">
						<img src="img/social-5.jpg" alt="">
						<img src="img/social-6.jpg" alt="">
					</div>
				</div>
			</section>
			<section id="delivery">
				<div class="container flex-align-center">
					<div class="col-6 text flex-column-start ">
						<p class="uppercase-white">try our seasonal products</p>
						<p class="section-title-white">Order for pick-up or delivery to your home</p>
						<button class="whiteOnPurple"><p>Shop Now</p></button>
					</div>
					<div class="shadow"></div>
				</div>
			</section>
		</main>
		<footer id="root_3">
			<div class="container">
					<div class="col-6 flex-column-between footer-left">
						<nav>
							<img src="img/avada-bakery-logo.png" alt="avada logo">
							<ul class="navbar-menu">
								<li class="all-text-purple" v-for="option in headerFooter">
									<template v-if="option!=='Cart'"><a href="">{{option}}</a></template>
									<template v-else><a href=""><i class="fas fa-shopping-cart"></i></a></template>
								</li>
								<div class="circle"><p>0</p></div>
							</ul>
						</nav>
						<p id="copyright" class="copyright-grey">&copy;Copyright 2012 - 2020 | Avada Theme by ThemeFusion | All Rights Reserved | Powered by Simone Pagotto</p>
					</div>
					<div class="col-6 flex-column-between footer-right">
						<div class="subscribe">
							<p class="section-title-purple">Subscribe to our NewsLetter</p>
							<form action="">
								<input class="emailInput" type="text" placeholder="Enter email address*">
								<button class="purpleOnWhite"><p>Subscribe</p></button>
							</form>
						</div>
						<div class="social-icons">
							<i class="fab fa-instagram"></i>
							<i class="fab fa-twitter"></i>
							<i class="fab fa-facebook"></i>
							<i class="fab fa-pinterest"></i>
						</div>						
					</div>
			</div>						
		</footer>
		<!-- Custom JS -->
		<script src="js/main.js" charset="utf-8"></script>
	</body>
</html>
